<!DOCTYPE html>
<html lang="en">
  <style>
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
    }

    img,
    video {
      /* border-radius: 10px; */
      width: 120px;
      height: 120px;
      object-fit: cover;
      image-rendering: pixelated;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rotoplas Uploader</title>
  </head>
  <body>
    <div class="container">
      <img src="/favicon.ico" alt="" />
      <h1>Rotoplas Uploader</h1>
      <h4>FAQ: Figuras, Ases y Quintillas</h4>
      <p>no mi compa, por qué un proyecto de raspberry pi local debería tener un faq?</p>
    </div>
  </body>
</html>
