<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rotoplas Uploader</title>
  </head>
  <body>
    <div class="container">
    <img src="/favicon.ico">
    <h1>Rotoplas Uploader</h1>
      <form
        id="uploadForm"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file">Select a file to upload:</label>
        <input type="file" id="file" name="file" required />
        <br /><br />
        <button type="submit">Upload</button>
      </form>
      <p id="urls"></p>

      <div class="urls">
        {{ range.files }}

        <a href="/{{.Name}}">
          {{ if .IsImg }}
          <img
            src="/{{.Name}}"
            alt="/{{.Name}}"
            style="max-width: 200px; max-height: 200px; margin: 10px"
          />
          {{ end }}

          {{ if .IsVid }}
          <video
            src="/{{.Name}}"
            controls
            style="max-width: 300px; max-height: 200px; margin: 10px"
          ></video>
          {{ end }}
          {{.Name}}
        </a>
        {{ end }}
      </div>
    </div>
  </body>
  <script>
    document.querySelector("#uploadForm").addEventListener("submit", (e) => {
      e.preventDefault();

      const formData = new FormData();
      formData.append("file", document.querySelector("#file").files[0]);

      fetch("/upload", {
        method: "POST",
        body: formData,
      })
        .then((data) => data.json())
        .then((data) => {
          document.querySelector(
            "#urls"
          ).innerHTML += `<ul><a href="/files/${data.filename}">${data.filename}</a></ul>`;
        });
    });
  </script>
</html>

<style>
  img,
  video,
  a {
    margin: none;
  }

  form {
    border: 2px solid #c7d47d;
    border-radius: 20px;
    padding: 20px
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .urls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 800px;
    justify-items: center;
    align-items: center;
    /* gap: 12px; */
  }

  a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    color: #007bff;
    text-decoration: underline;
  }

  a:hover > * {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }

  img,
  video {
    /* border-radius: 10px; */
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: 0.3s;
  }

  img:hover,
  video:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
