<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rotoplas Uploader</title>
  </head>
  <body>
    <center>
      <div class="container">
        <img src="/rotoplas.png" alt="" width="100" />
        <h1>Rotoplas Uploader</h1>
        <form
          id="uploadForm"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">Select a file to upload:</label>
          <input type="file" id="file" name="file" required />
          <br /><br />
          <button type="submit">Upload</button>
        </form>
        <p id="urls"></p>

        <div class="file-list">
          {{ $admin := .admin }}
          {{ range.files }}

          <div class="file-item">
            {{ if .MimeType | isImg }}
            <img src="/thumbs/{{.Name}}" alt="{{.Name}}" />
            {{ end }}

            {{ if .MimeType | isVid }}
            <video src="/files/{{.Name}}" controls="false"></video>
            {{ end }}

            {{ if .MimeType | isAudio }}
            <audio controls>
              <source src="/files/{{.Name}}" type="{{.MimeType}}" />
              Your browser does not support the audio element.
            </audio>
            {{ end }}

            <p>Size: {{.Size}}</p>
            <p>{{.CreatedAt}}</p>
            <p>{{.MimeType}}</p>

            <a href="/files/{{.Name}}">
              {{.Name}}
            </a>
            {{ if $admin}}
            <a href="/delete?name={{.Name}}" style="color: red">
              <p>Delete</p>
            </a>
            {{ end }}
          </div>

          {{ end }}
        </div>
      </div>
      {{if .prev}}
      <a href="/?page={{.prevPage}}"
        ><button><em><</em> Previous</button></a
      >
      {{ end }}
      {{if .next}}
      <a href="/?page={{.nextPage}}"
        ><button>Next <em>></em></button></a
      >
      {{ end }}
    </center>
    <footer>
      <a href="faq">
        <p>FAQ</p>
      </a>
    </footer>
  </body>
  <script>
    document.querySelector("#uploadForm").addEventListener("submit", (e) => {
      e.preventDefault();

      const formData = new FormData();
      formData.append("file", document.querySelector("#file").files[0]);

      fetch("/upload", {
        method: "POST",
        body: formData,
      })
        .then((data) => data.json())
        .then((data) => {
          document.querySelector(
            "#urls"
          ).innerHTML += `<ul><a href="/files/${data.filename}">${data.filename}</a></ul>`;
        });
    });
  </script>

  <style>
    body {
      background-image: url("/bg.png");
    }

    video {
      height: 140px;
    }

    p {
      font-size: 10px;
    }
    .file-list {
      width: 1200px;
    }

    .file-item {
      display: inline-block;
      margin: 20px;
    }

    form {
      width: 600px;
      border: 2px black;
      padding: 20px;
      border-style: dashed;
      background: #a9e0eea8;
    }
  </style>
</html>
